
<%- include("partials/header") -%>


<!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->

<div class="TableHolder">
  <table class="mainTable">

  </table>
</div>
<button type="button" name="Button" id="addButton"> + </button>

<div id="addModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/home" method="post">
      <div class="form-group">
        <p>
          Name your habit
        </p>
        <input type="text" class="form-control text-center" name="habit" placeholder="Name of habit">
        <p>
          choose type od data:
        </p>
        <select id="dataTypes" name="habit">
          <option value="YesOrNo">Yes or No</option>
          <option value="Numbers">Counting</option>
        </select>
        <br> <br>
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>

</div>

<!-- <p id="infoGraber"> <%=foundLayout%></p> -->
<div class="form" >
  <form id="infoformo" action="/test" method="post">
    <input id="datain" type="text" name="habitName" >
    <input id="datain2" type="text" name="habitData" >
  </form>

</div>


<script type="text/javascript">


   var foundLayoute = <%- JSON.stringify(foundLayout)%>;  // $("#infoGraber").text();

  // console.log("<%- JSON.stringify(foundLayout)%>");
  // Get the modal
  var modal = document.getElementById("addModal");

  // Get the button that opens the modal
  var btn = document.getElementById("addButton");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };






// var vsebina = "";
// vsebina+="<table>";
//   for (i=1;i<=9; i++){
//     vsebina+="<tr>" ;
//       for(j=1;j<=9; j++){ vsebina +="<td class=\""
//
//                           if (i%3==0)
//                           {
//                              vsebina += " spodaj"; } if (j%3==0) { vsebina +=" desno" ; } vsebina +="\">";
//     if(v1[i-1][j-1]!=0){
//     vsebina+=(v1[i-1][j-1]);
//     }
//     else
//     {
//     vsebina += "<input type='number' id='i"+i+"j"+j+"' text-align='center'>"
//     }
//
//
//     vsebina += "</td>";
//
//     }
//     vsebina+="</tr>"
//     }
//     vsebina += "</table>"
console.log(foundLayoute.habitName.length);
// ---------------------------- TABELA GENERATOR -----------------
    var vsebina="";
    for (var i = 0; i < (<%=dinThisMonth%>+1); i++) {
      if (i == <%=day%>) {
        vsebina+="<tr><td class='today'>"+i+"</td>";
      } else{
        vsebina+="<tr><td>"+i+"</td>";
      }


        for (var j = 0; j < foundLayoute.habitName.length ; j++) {
          if(i==0) {
            vsebina += "<th>" + foundLayoute.habitName[j] + "</th>";
          }
          else if( i== <%=day%> ){
            if(foundLayoute.habitType[j] == "YesOrNo"){
              console.log(foundLayoute.habitName[j]);
              vsebina += "<td id='i"+i+"j"+(j+1)+"' class='today'>" + "<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",1);' id='Yes"+foundLayoute.habitName[j]+"' type='button' name='button'>Yes</button>"+"<button class='Info' onclick='clicked("+'"'+foundLayoute.habitName[j]+'"'+",0)' id='No"+foundLayoute.habitName[j]+"' type='button' name='button'>No</button>" + "</td>";
            }
            if(foundLayoute.habitType[j] == "Numbers"){
              vsebina += "<td id='i"+i+"j"+(j+1)+"' class='today'>" + "<input class='Info' onfocusout='numInputed("+'"'+foundLayoute.habitName[j]+'"'+",this.value);' id='In"+foundLayoute.habitName[j]+"' type='number' name='fild'> </td>";
            }
          }
          else {
              vsebina += "<td id='i"+i+"j"+(j+1)+"'>"+"</td>";
          }

      }

vsebina += "</tr>";
    }
    vsebina += "";
  $(".mainTable").append(vsebina);
// ------------------------------------ KONEC TABELE GENERATORA-------------------
//------------------------------CLICK CHECK---------------------------------------

function clicked(x,y) {

  console.log(x+"   toley");
  $("#datain").val(x);
  $("#datain2").val(y);
  $("#infoformo").submit();
};

function numInputed(x,y){
$("#datain").val(x);
 console.log(y);
$("#datain2").val(y);
$("#infoformo").submit();

}

  // for (var i=0 ; i < <%=dinThisMonth%> ; i++ ) {
  //
  // $(".mainTable").append("<tr><th id='h"+i+"'>"+i+"</th></tr>");
  //     for ( j = 0; j < foundLayoute.length ; j++) {
  //       if(i == 0) {
  //       $("#h"+i+"").append("<th>"+ foundLayoute[j].habitName +"</th>");
  //     } else {
  //       $("#h"+i+"").append("<th id="+j+">add</th>");
  //     }
  //   }
  //
  // };



</script>





<%- include("partials/footer") -%>
